body {
font-family: poppins;
margin: 0;
padding: 0;
background-color: #DDD9C3;
}
#about {
padding : 50px;
background-repeat:no-repeat;
background-position : 20px 30px;
background-color: #F1EDE8;
max-height:1600px;
background : linear-gradient(to bottom,#F1EDE8 60%,#DDD9C3 100%);
margin-bottom:-100px;
}
.visimisi{
display: flex;
justify-content : spave-between;
margin-top:30px;	
}
.visi, .misi{
	border :1px solid #923E36;
	padding: 30px;
	margin :20px auto;
	width:50%;
}

.visi h2, .misi h2{
	font-size : 20px;
	margin-bottom:10px;
}

.mission ul{
	padding-left:20px;
}
header h1{
font-size : 230px;	
}
h2{
color:#923E36;
font-size : 48px;	
}

header {
background-image: url('cafe1.jpg');
background-size: cover;
height:500px;
color: #fff;
padding: 1px;
position:relative;
text-align: center;
box-shadow : 1px 1px 20px 5px grey;

}
header nav ul{
	position :absolute;
	bottom:-20px;
	left:50%;
	transform:translateX(-50%);
	border-radius:10px;
	box-shadow : 1px 1px 20px 5px grey;
	max-width: 600px;
	margin: auto;
	padding : 10px 20px;
	background-color: #923E36;;
list-style-type: none;
}

header nav ul li {
display: inline;
margin: 0px 10px;
border-right: 1px dotted #f9f9f9;
padding-right: 20px;
}

header nav ul li a:hover{
font-weight: bold;
}

header nav ul li a:active{
color : black;
}

header nav ul li a {
color: #F1EDE8;
text-decoration: none;
}
section {
padding: 50px 0;
text-align: center;

}

.menu-container{
	display:flex;
	background-color: #F1EDE8;
	overflow-x:auto;
	padding : 50px 80px;
	scroll-behavior: smooth;
	box-shadow : 1px 1px 10px 3px grey;
	max-width: 1000px;
	margin: 50px auto;
}

.menu-item{
	flex : 0 0 auto;
	width : 210px;
	margin-right : 50px;
	text-align:center;
}
.menu-item img {
max-width: 110%;
border :1px solid #923E36;
border-radius: 20px;
}
.container {
margin: auto;
}


#hours {
background-color: #F1EDE8;
padding: 50px 0;
}
#hours p {
font-size: 18px;
margin: 5px 0;
}
#location{
	margin-bottom:50px;
}
footer {
background-color: #BCA994;
color: #fff;
text-align: center;
padding: 10px;
position: fixed;
bottom: 0;
width: 100%;
}